// Buttons

$default_button_bg_color: #edecea;
$default_button_hover_bg_color: #d8d8d8;
$default_button_text_color: #000;

$info_button_bg_color: #3d61ff;
$info_button_hover_bg_color: #3553da;
$info_button_text_color: #fff;

$danger_button_bg_color: #ff3d77;
$danger_button_hover_bg_color: #e2376b;
$danger_button_text_color: #fff;
